In [271]:
!pip install pyspark

Requirement already satisfied: pyspark in /opt/conda/lib/python3.7/site-packages (3.2.0)
Requirement already satisfied: py4j==0.10.9.2 in /opt/conda/lib/python3.7/site-packages (from pyspark) (0.10.9.2)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [272]:
! pip install pyspark_dist_explore

Requirement already satisfied: pyspark_dist_explore in /opt/conda/lib/python3.7/site-packages (0.1.8)
Requirement already satisfied: pandas in /opt/conda/lib/python3.7/site-packages (from pyspark_dist_explore) (1.3.3)
Requirement already satisfied: matplotlib in /opt/conda/lib/python3.7/site-packages (from pyspark_dist_explore) (3.4.3)
Requirement already satisfied: scipy in /opt/conda/lib/python3.7/site-packages (from pyspark_dist_explore) (1.7.1)
Requirement already satisfied: numpy in /opt/conda/lib/python3.7/site-packages (from pyspark_dist_explore) (1.19.5)
Requirement already satisfied: pyparsing>=2.2.1 in /opt/conda/lib/python3.7/site-packages (from matplotlib->pyspark_dist_explore) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in /opt/conda/lib/python3.7/site-packages (from matplotlib->pyspark_dist_explore) (8.2.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/conda/lib/python3.7/site-packages (from matplotlib->pyspark_dist_explore) (1.3.2)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/lib/python3.7/site-packages (from matplotlib->pyspark_dist_explore) (2.8.0)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.7/site-packages (from matplotlib->pyspark_dist_explore) (0.10.0)
Requirement already satisfied: six in /opt/conda/lib/python3.7/site-packages (from cycler>=0.10->matplotlib->pyspark_dist_explore) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.7/site-packages (from pandas->pyspark_dist_explore) (2021.1)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [273]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
    
# Spark
from pyspark.sql import SparkSession
from pyspark.sql.functions import when
from pyspark.sql.types import StructType
from pyspark.sql.types import *
from pyspark.sql.functions import isnan, when, count, col


# EDA
from pyspark_dist_explore import hist
import matplotlib.pyplot as plt

# ML
from pyspark.ml import Pipeline
from pyspark.ml.feature import OneHotEncoder, StringIndexer, VectorAssembler, StandardScaler

In [274]:
spark = SparkSession \
    .builder \
    .appName("Data wrangling with Spark SQL") \
    .getOrCreate()

In [275]:
# local do arquivo
path = "bank-additional-full.csv"

# Lendo o arquivo em um objeto Spark
#df = spark.read.option("delimiter", ";").option("header", "true").option("nullValue", "unknown").option("nullValue", "null").csv(path)
df = spark.read.option("delimiter", ";").option("header", "true").csv(path)

In [276]:
df.createOrReplaceTempView("df_raw")

**Show dataframe**

In [277]:
df.show(5)

+---+---------+-------+-----------+-------+-------+----+---------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+
|age|      job|marital|  education|default|housing|loan|  contact|month|day_of_week|duration|campaign|pdays|previous|   poutcome|emp.var.rate|cons.price.idx|cons.conf.idx|euribor3m|nr.employed|  y|
+---+---------+-------+-----------+-------+-------+----+---------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+
| 56|housemaid|married|   basic.4y|     no|     no|  no|telephone|  may|        mon|     261|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
| 57| services|married|high.school|unknown|     no|  no|telephone|  may|        mon|     149|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
| 37| services|married|high.school|     no|    yes|  no|telephone|  may|        mon|     226|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
| 40|   admin.|married|   basic.6y|     no|     no|  no|telephone|  may|        mon|     151|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
| 56| services|married|high.school|     no|     no| yes|telephone|  may|        mon|     307|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
+---+---------+-------+-----------+-------+-------+----+---------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+
only showing top 5 rows

**Print the dataframe Schema**

In [278]:
# Plotando o Schema da tabela spark
df.printSchema()

root
 |-- age: string (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- month: string (nullable = true)
 |-- day_of_week: string (nullable = true)
 |-- duration: string (nullable = true)
 |-- campaign: string (nullable = true)
 |-- pdays: string (nullable = true)
 |-- previous: string (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- emp.var.rate: string (nullable = true)
 |-- cons.price.idx: string (nullable = true)
 |-- cons.conf.idx: string (nullable = true)
 |-- euribor3m: string (nullable = true)
 |-- nr.employed: string (nullable = true)
 |-- y: string (nullable = true)

In [279]:
print("There is " + str(df.count()) +" samples in this DataFrame")

There is 41188 samples in this DataFrame

**Describe statistics into "pdays" column.**

In [280]:
df.describe("pdays").show()

+-------+-----------------+
|summary|            pdays|
+-------+-----------------+
|  count|            41188|
|   mean|962.4754540157328|
| stddev|186.9109073447414|
|    min|                0|
|    max|              999|
+-------+-----------------+

In [281]:
df.describe("y").show()

+-------+-----+
|summary|    y|
+-------+-----+
|  count|41188|
|   mean| null|
| stddev| null|
|    min|   no|
|    max|  yes|
+-------+-----+

In [282]:
# Task 1 - Replace statements by Null Values

df_1 = df.replace('null', None, subset=['job', 'marital', 'education', 'default', 'housing', 'loan'])\
         .replace('unknown', None, subset=['job', 'marital', 'education', 'default', 'housing', 'loan'])\
         .replace('999', None, subset=['pdays'])
df_1.show(5)

+---+---------+-------+-----------+-------+-------+----+---------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+
|age|      job|marital|  education|default|housing|loan|  contact|month|day_of_week|duration|campaign|pdays|previous|   poutcome|emp.var.rate|cons.price.idx|cons.conf.idx|euribor3m|nr.employed|  y|
+---+---------+-------+-----------+-------+-------+----+---------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+
| 56|housemaid|married|   basic.4y|     no|     no|  no|telephone|  may|        mon|     261|       1| null|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
| 57| services|married|high.school|   null|     no|  no|telephone|  may|        mon|     149|       1| null|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
| 37| services|married|high.school|     no|    yes|  no|telephone|  may|        mon|     226|       1| null|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
| 40|   admin.|married|   basic.6y|     no|     no|  no|telephone|  may|        mon|     151|       1| null|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
| 56| services|married|high.school|     no|     no| yes|telephone|  may|        mon|     307|       1| null|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
+---+---------+-------+-----------+-------+-------+----+---------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+
only showing top 5 rows

In [283]:
# Task 2 -> Replace target values to Boolean variable
df_2 = df_1.withColumn('y', when(df_1['y'] == 'no', 0).otherwise(1))

df_2.show(5)

+---+---------+-------+-----------+-------+-------+----+---------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+
|age|      job|marital|  education|default|housing|loan|  contact|month|day_of_week|duration|campaign|pdays|previous|   poutcome|emp.var.rate|cons.price.idx|cons.conf.idx|euribor3m|nr.employed|  y|
+---+---------+-------+-----------+-------+-------+----+---------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+
| 56|housemaid|married|   basic.4y|     no|     no|  no|telephone|  may|        mon|     261|       1| null|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|  0|
| 57| services|married|high.school|   null|     no|  no|telephone|  may|        mon|     149|       1| null|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|  0|
| 37| services|married|high.school|     no|    yes|  no|telephone|  may|        mon|     226|       1| null|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|  0|
| 40|   admin.|married|   basic.6y|     no|     no|  no|telephone|  may|        mon|     151|       1| null|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|  0|
| 56| services|married|high.school|     no|     no| yes|telephone|  may|        mon|     307|       1| null|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|  0|
+---+---------+-------+-----------+-------+-------+----+---------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+
only showing top 5 rows

In [284]:
# Task 3 -> Drop column "duration"

columns_to_drop = ['duration']
df_transient = df_2.drop(*columns_to_drop)

df_transient.show()

+---+-----------+--------+-------------------+-------+-------+----+---------+-----+-----------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+
|age|        job| marital|          education|default|housing|loan|  contact|month|day_of_week|campaign|pdays|previous|   poutcome|emp.var.rate|cons.price.idx|cons.conf.idx|euribor3m|nr.employed|  y|
+---+-----------+--------+-------------------+-------+-------+----+---------+-----+-----------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+
| 56|  housemaid| married|           basic.4y|     no|     no|  no|telephone|  may|        mon|       1| null|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|  0|
| 57|   services| married|        high.school|   null|     no|  no|telephone|  may|        mon|       1| null|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|  0|
| 37|   services| married|        high.school|     no|    yes|  no|telephone|  may|        mon|       1| null|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|  0|
| 40|     admin.| married|           basic.6y|     no|     no|  no|telephone|  may|        mon|       1| null|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|  0|
| 56|   services| married|        high.school|     no|     no| yes|telephone|  may|        mon|       1| null|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|  0|
| 45|   services| married|           basic.9y|   null|     no|  no|telephone|  may|        mon|       1| null|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|  0|
| 59|     admin.| married|professional.course|     no|     no|  no|telephone|  may|        mon|       1| null|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|  0|
| 41|blue-collar| married|               null|   null|     no|  no|telephone|  may|        mon|       1| null|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|  0|
| 24| technician|  single|professional.course|     no|    yes|  no|telephone|  may|        mon|       1| null|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|  0|
| 25|   services|  single|        high.school|     no|    yes|  no|telephone|  may|        mon|       1| null|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|  0|
| 41|blue-collar| married|               null|   null|     no|  no|telephone|  may|        mon|       1| null|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|  0|
| 25|   services|  single|        high.school|     no|    yes|  no|telephone|  may|        mon|       1| null|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|  0|
| 29|blue-collar|  single|        high.school|     no|     no| yes|telephone|  may|        mon|       1| null|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|  0|
| 57|  housemaid|divorced|           basic.4y|     no|    yes|  no|telephone|  may|        mon|       1| null|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|  0|
| 35|blue-collar| married|           basic.6y|     no|    yes|  no|telephone|  may|        mon|       1| null|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|  0|
| 54|    retired| married|           basic.9y|   null|    yes| yes|telephone|  may|        mon|       1| null|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|  0|
| 35|blue-collar| married|           basic.6y|     no|    yes|  no|telephone|  may|        mon|       1| null|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|  0|
| 46|blue-collar| married|           basic.6y|   null|    yes| yes|telephone|  may|        mon|       1| null|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|  0|
| 50|blue-collar| married|           basic.9y|     no|    yes| yes|telephone|  may|        mon|       1| null|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|  0|
| 39| management|  single|           basic.9y|   null|     no|  no|telephone|  may|        mon|       1| null|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|  0|
+---+-----------+--------+-------------------+-------+-------+----+---------+-----+-----------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+
only showing top 20 rows

In [285]:
# Final Schema
df_transient.printSchema()

root
 |-- age: string (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- month: string (nullable = true)
 |-- day_of_week: string (nullable = true)
 |-- campaign: string (nullable = true)
 |-- pdays: string (nullable = true)
 |-- previous: string (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- emp.var.rate: string (nullable = true)
 |-- cons.price.idx: string (nullable = true)
 |-- cons.conf.idx: string (nullable = true)
 |-- euribor3m: string (nullable = true)
 |-- nr.employed: string (nullable = true)
 |-- y: integer (nullable = false)

In [286]:
df_transient.write.option("header",True).mode("overwrite").option("delimiter",";").csv('data_transient.csv')